html{
  border-top: solid 6px #006a50;
}
body {
  width: 1000px;
  margin: 0 auto 0;
  font-family: sans-serif;
  color: white;
  background: #234;
}
a:link, a:hover, a:visited {
  text-decoration: none;
  color: white;
}
a:hover { text-decoration: underline;}

/* helper */
.bold { font-weight: bold; }

/* header */
header {
  display: block;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  font-family: monospace;
  font-size: 36px;
  color: white;
  overflow: hidden;
  background: transparent;
}
header img {
  position: absolute;
  left: 0;
}
a.header:hover { text-decoration: none; }

.profiles a img:hover {
  background: #567;
}

.info {
  width: 100%;
  max-width: 600px;
  margin: 12px auto;
}

.links a {
  display: inline-block;
  width: 120px;
  height: 60px;
  margin: 12px;
  padding: 12px 0;
  background: #123;
  text-align: center;
  vertical-align: top;
}

/* info */
h2 {}
p#date { font-size: small; }
section#about {}

/* cv */
#cv {
  box-sizing: border-box;
  width: 210mm;
  padding:0 2.54cm;
}
#cv-title {
  display: inline-block;
  width: 49%;
  font-size: large;
}
#cv-name { font-size:xx-large; }
#cv-contact {
  display: inline-block;
  width: 49%;
  text-align: right;
}
#cv section {
  margin: 10px;
}
#cv section p { margin: 0; }
#cv h2 {
  font-size: large;
  color: #777; }
